form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  background-color: #8C1A8B;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px 0;
}

button:hover {
  background-color: #6D4B87;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #5A3B6A;

}