.product-card {
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: #100B07;
  color: white;
  border-radius: 10px;
}


.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
}

.product-card h1 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-card p {
  font-size: 1em;
  margin: 10px 0;
}

.product-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  background-color: #8C1A8B;
  border-radius: 5px;
  transition: background-color 0.2s;

}

.product-card a:hover {
  background-color: #6D4B87;
  color: white;
}